data/dakshina_temp/
data/final/
data/font_train/
data/font_val/
data/combined/
data/real_train/
data/real_train_cvit/
data/char_synthetic/
data/fonts/
data/synthetic_v2/
data/*.png
data/*.jpg
data/real_datasets/
data/real_test/
data/realistic_synthetic/
data/test/
data/train/
data/val/
model/checkpoints/*.pth
model/checkpoints/*.onnx
model/checkpoints_200k/
model/checkpoints_realistic_v2/
*.pyc
__pycache__/
node_modules/
frontend/dist/
.env
*.db
wandb/
data/*.tar
nlp/data/*.json
nlp/data/*.txt
data/iiit_real/
data/font_augmented_train/
